<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WiXSchedulerService" Manufacturer="Ivedix" UpgradeCode="EE5761C0-D2DA-4ED6-B2C7-9B369DC1329C" Version="1.0.0.0" Language="1033">
    <Package Id='*' Keywords='Installer' Description="Ivedix's WiX Scheduler 1.0 Installer"
    Comments='WiX Scheduler is a registered trademark of Ivedix Ltd.' Manufacturer='Ivedix Ltd.'
    InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="redist\License.rtf" />
    <!-- Create a folder inside Talk Sharp called Test Service -->
   
  
    <!-- Create a folder inside Talk Sharp called Test Service -->
    <Media Id="1" Cabinet="SchedulerService.cab" EmbedCab="yes" />
    <!-- Allow upgrades and prevent downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!-- Create a folder inside program files called Talk Sharp -->
        <Directory Id="ROOTDIRECTORY" Name="Ivedix">
          <!-- Create a folder inside Talk Sharp called Test Service -->
          <Directory Id="INSTALLFOLDER" Name="WiXSchedulerService" />
        </Directory>
      </Directory>
    </Directory>
    <!-- The files inside this DirectoryRef are linked to the Test Service directory via INSTALLFOLDER -->
    <DirectoryRef Id="INSTALLFOLDER">
      <!-- Create a single component which is the TestService.exe file -->
      <Component Id="$(var.SchedulerService.TargetFileName)">
        <!-- Copies the TestService.exe file using the project reference preprocessor variables -->
        <File Id="$(var.SchedulerService.TargetFileName)" Source="$(var.SchedulerService.TargetPath)" KeyPath="yes" />
        <!-- Remove all files from the INSTALLFOLDER on uninstall -->
        <RemoveFile Id="ALLFILES" Name="*.*" On="both" />
        <!-- Tell WiX to install the Service -->
        <ServiceInstall Id="ServiceInstaller"
        Type="ownProcess"
        Name="WiXSchedulerService"
        DisplayName="WiX Scheduler Service"
        Description="A Wix Schedule Service that logs dummy text on an interval to a text file."
        Start="auto"
        ErrorControl="normal"
        Account="LocalSystem"/>
        <!-- Tell WiX to start the Service -->
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="WiXSchedulerService" Wait="yes" />
      </Component>
    </DirectoryRef>
    <Component Id="TopShelfComponent" Directory="INSTALLFOLDER">
      <File Source="redist\Topshelf.dll" />
    </Component>
    <!-- Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="$(var.SchedulerService.TargetFileName)" />
    <ComponentRef Id="TopShelfComponent" />
    </Feature>
   
  </Product>
  
</Wix>